{{- $name := promptStringOnce . "name" "Nom pour git" -}}
{{- $email := promptStringOnce . "email" "Email pour git" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}

[edit]
    command = "code"
    args = ["--wait"]